<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/heroes.css" />
	</head>
	<body>
		<%- include('header')%>
		<h2><%= title%></h2>

		<div>
			<label
				>Hero name:
				<input #heroName />
			</label>
			<button>
				add
			</button>
		</div>
		
		<ul class="heroes">
			<form action="" method="POST" name="heroForm">
			<% for(let i = 0; i<heroes.length; i++){%>
				<li>
				<a href="/heroes">
					<span class="badge"><%= heroes[i].id %></span> <%= heroes[i].name %>
				</a>
<!-- 				el nom te que ser igual aqui i en routes
 -->				<button class="delete" title="delete hero" type="submit" name="deletedHeroId" value="<%= heroes[i]._id%>">
					x
				</button>
			</li>
			<% } %>
		</form>
		</ul>
	</body>
</html>
