<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Market - Product List</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/list.css">
    <!-- <link rel="stylesheet" href="../../css/product-list.css"> -->
</head>

<body>
    <h1 class="product-title">List</h1>
    <h2><%= title %></h2>

    <ul class="products">
        <% for (i=0; i<products.length; i++) { %>

        <li class="products">
            <a href="/products/<%= products[i]._id %>">
                <span class="badge" class="products"><%= products[i].id %></span><%= products[i].title %>
            </a>
            <form action="/products/<%= products[i] && products[i]._id %>" method="POST" name="productsForm">

                <button type="submit" name="name" value="<%= products[i] && products[i].title %>" class="delete" title="delete product">x</button>
            </form>
        </li>
        <% } %>

    </ul>
</body>

</html>