<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Organic Market</title>
	<link rel="stylesheet" href="css/index.css" />
	<link rel="icon" type="image/svg+xml" href="icons/favicon.svg">
</head>

<body>
	<%-include('header')-%>
	<%-include('nav')-%>
	<div class="main__container limitMaxWidth">
		<%-include('aside')-%>
		<%-include(body)-%>
	</div>
	<%-include('footer')-%>
</body>

</html>