<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Best Organic Market!!</title>
	</head>
	<body>
		<%- include('header') %>
		<h2><%=title%></h2>
		<ul class="nav navbar-nav">
			<% for(let i = 0; i < nav.length; i++) {%>
			<li>
				<a href=""></a>
			</li>
			<%}%>
		</ul>
		<div>
			<form action="" method="POST" name="recipeForm">
				<h2><%= recipe.title% %> Details</h2>
				<div><span>id: </span><%= recipe.description %></div>
				<div>
					<label for="heroField__name">name:</label>
					<input
						id="heroField__name"
						name="name"
						placeholder="name"
						value="<%= recipe.tile %>"
					/>
				</div>
				<button type="submit">save</button>
			</form>
		</div>
	</body>
</html> -->

<body>
	'hola'
</body>
