<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Best Organic Market!!</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<%- include('header') %>
		<h2><%=title%></h2>
		<div>
			<% if (admin === 'on'){%>
			<div>
				<form action="" method="POST" name="recipeForm">
					<label for="product__Title">Title:</label>
					<input
						id="product__Title"
						name="updateTitle"
						placeholder="New title"
						value="<%= recipe.title %>"
					/>
					</br>
				</br>

					<div><span>Description: </span><%= recipe.description %></div>

					</br>
					<label for="product__Title">Price:</label>
					<input
						id="product__Title"
						name="updatePrice"
						placeholder="New price"
						value="<%= recipe.price %>$"
					/>
				</form>

			</div>
			<% } else{ %>
			<h3><span>Title: </span><%= recipe.title %></h3>
			<div><span>Description: </span><%= recipe.description %></div>
		</br>
			<div><span>Price: </span><%= recipe.price %>$</div>
			<%}%>
		</br>

			<form action="" method="POST" name="recipeForm">
				<% if (admin === 'on'){ %>
				<button
					class="modify"
					title="modify product"
					name="product"
					value="<% recipe.tile %>"
					type="submit"
				>
					Modify Product
				</button>
				<% } %>
			</form>
		</div>
	</body>
</html>
