<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Best Organic Market!!</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<%- include('header') %>
		<h2><%= title%></h2>
		<div>
			<h2><%= recipe.title %></h2>
			<div><span>Description: </span><%= recipe.description %></div>
			<div>
				<label for="heroField__name">name:</label>
				<input
					id="heroField__name"
					name="name"
					placeholder="name"
					value="<%= recipe.tile %>"
				/>
			</div>
			<form action="" method="POST" name="recipeForm">
				<% if (admin === 'on'){ %>
				<button
					class="modify"
					title="modify product"
					name="product"
					value="<% recipe.title %>"
					type="submit"
				>
					Modify Product
				</button>
				<% } %>
			</form>
		</div>
	</body>
</html>
