<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>The Best Organic Market!!</title>
	<link rel="stylesheet" href="../css/styles.css">
<!--  	<link rel="stylesheet" href="../css/recipes.css">
 -->
</head>

<body>
	<%- include('header')%>
	 <%if(admin === 'on') {%>
	<h2>Admin <%= title%></h2>
	<%} else {%>
		<h2>User <%= title%></h2>
	<%}%>
	<%if(admin === 'on') {%>
		<form action="/list/create" method="POST" name="createHero">
			<label for="name">New Name:
				<input name="name"/>
			</label>
			<label for="item_price">New Price: 
				<input name="item_price"/>
				<button name="" type="submit">
					Add New Product
				</button>
		</form>
		<%} else {%>
		<%}%>
	<div>
		<label>Filter product name:
			<input #heroName />
		</label>
	</div>

	<ul class="heroes">
		<% for(let i = 0; i<recipes.length; i++){%>
			<li>
				<a href="/list/<%=recipes[i].title%>">
					<span class="badge"><%= recipes[i].title%></span>
					</a> <%= recipes[i].price %> &#8364;
				<form action="/list/addcart" method="POST" name="addProductToCart">
					<button class="add" title="add to cart" type="submit" name="product" value="<%=recipes[i].title%>">
						&#128722;
					</button>
				</form>
				<%if(admin === 'on') {%>
					<form action="" method="POST" name="deleteHeroFromList">
						<button type="submit" class="delete" title="delete recipe" name="title" value="<%=recipes[i].title%>">
							&#10060;
						</button>
					</form>
					<%} else {%>
					<%}%>
			</li>
			<% } %>
		</ul>
		<script src="../js/filterMethod.js"></script>
</body>

</html>