<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>The Best Organic Market!!</title>
	<link rel="stylesheet" href="../css/styles.css">
<!--  	<link rel="stylesheet" href="../css/recipes.css">
 -->
</head>

<body>
	<%- include('header')%>
	<h2><%= title%></h2>

	<div>
		<label>Product name:
			<input #heroName />
		</label>
		<button>
			create product
		</button>
	</div>

	<form action="/" method="POST">
		<ul class="heroes">
			<% for(let i = 0; i<recipes.length; i++){%>
			<li>
				<a href="/list/<%=recipes[i].title%>">
					<span class="badge"><%= recipes[i].title %></span>
				</a> <%= recipes[i].price %>$
				<button class="add" title="add to cart" type="submit" name="product" value="<%=recipes[i].title%>">
					+
				</button>
			</li>
			<% } %>
		</ul>
	</form>
</body>

</html>