<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>The Best Organic Market!!</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/recipies.css">

</head>

<body>
	<%- include('header')%>
	<h2><%= title%></h2>

	<div>
		<label>Recipe title:
			<input #heroName />
		</label>
		<button>
			add
		</button>
	</div>

	<ul class="heroes">
		<% for(let i = 0; i<recipes.length; i++){%>
		<li>
			<a href="/list/<%=recipes[i].title%>">
				<span class="badge"><%= recipes[i].title %></span>
			</a> <%= recipes[i].price %>$
			<button class="add" title="add recipie">
				+
			</button>
		</li>
		<% } %>
	</ul>
</body>

</html>