<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="../css/index.css" />
	<link rel="stylesheet" href="../css/food-detail.css" />
</head>

<body>
	<%- include('header')%>
	<div>
		<h2><%=product && product.title%> details!</h2>
		<div><span>type: </span><%= product.type %></div>
        <div><span>description: </span><%= product.description %></div>
        <div><span>price: </span><%= product.price %></div>
        <div><span>rating: </span><%= product.rating %></div>
        </div>
	</form>
</body>
</html>