<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skylabers</title>
    <link rel="stylesheet" href="../css/laberList.css">
</head>

<body>
    <%- include('laberNav'); -%>
    <h2><%= title %></h2>


    <ul class="heroes">
        <% for(let i = 0; i < labers.length; i++) {%>
        <li>
            <a href=" /laber/<%= labers[i].id %>">
                <span class="badge"><%=labers[i].id%></span> <%=labers[i].name%>
            </a>
            <button class="delete" title="delete laber" '>x</button>
        </li>
        <% } %>
    </ul>

</body>

</html>