<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/cart.css" />
		<link rel="stylesheet" href="../../css/index.css" />

		<title><%-title-%></title>
	</head>
	<body>
		<%-include('header')-%>
		<div>
			<% for(let i= 0; i< cart.length; i++) { %>
			<div class="card-item__container">
				<div class="card-item__main">
					<div>
						<h3><%=cart[i].title%></h3>
					</div>
					<div class="card-item__bottom">
						<p><%=cart[i].rating%></p>
						<p><strong><%=cart[i].price%> €</strong></p>
					</div>
				</div>
				<div class="card-item__delete">
					<img src="" alt="delete" />
				</div>
			</div>
			<% } %>
		</div>
	</body>
</html>
