<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/cart.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>

		<title><%-title-%></title>
	</head>
	<body>
		<%-include('header')-%>
		<div class="cart">
			<div class="flex-spacer1 mobileNone"></div>
			<div class="cart__main">
				<% for(let i= 0; i< cart.length; i++) { %>
				<div class="card-item__container">
					<div class="card-item__main">
						<div>
							<h3><%=cart[i].title%></h3>
						</div>
						<div class="card-item__bottom">
							<p>
								<img
									src="https://trello-attachments.s3.amazonaws.com/5f40033fb44fda5f6b6b9f34/5f40f07f072dbb4543522170/664a8929478e14df7ff4eaa37a21bb5d/star.png"
									alt="star"
									class="card-item__rating-star"
								/>
								<%=cart[i].rating%>/5
							</p>

							<div class="flex-spacer-2"></div>
							<p>
								Quant: <%=cart[i].quantity%>
							</p>
							<div class="flex-spacer-1"></div>

							<p><strong><%=cart[i].totalPrice.toFixed(2)%> €</strong></p>
						</div>
					</div>
					<form class="card-item__delete" action="/user/cart" method="POST">
						<button
							class="card-item__delete--button"
							type="submit"
							name="delete"
							value="<%=cart[i]._id%>"
						>
							<input value="<%=cart[i]._id%>" name="_id" class="invisible" />
							<img
								src="https://trello-attachments.s3.amazonaws.com/5f40033fb44fda5f6b6b9f34/5f4003523ef82115af773a9f/a261a683ce9b1c8180fb5376395fff96/trashcan.png"
								alt="delete"
							/>
						</button>
					</form>
				</div>
				<% } %>
			</div>

			<form class="cart__checkout">
				<p>
					Total (<%=totalItems%> products): <strong><%=finalPrice%>€</strong>
				</p>
				<button class="checkout__button">Checkout</button>
			</form>
			<div class="flex-spacer1 mobileNone"></div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
	</body>
</html>
