<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Organic Market - Product Detail</title>
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/detail.css" />
	</head>

	<body>
		<%-include('header')-%>
		<h2><%= item.title%> Details</h2>
		<div>
			<div class="detail">
				<span class="product__property">Type:</span>
				<p><%= item.type%></p>
			</div>
			<div class="property__detail">
				<span class="product__property">Description:</span>
				<p><%= item.description %></p>
			</div>
			<div class="property__detail">
				<span class="product__property">Height:</span>
				<p><%= item.height %></p>
			</div>
			<div class="property__detail">
				<span class="product__property">Width:</span>
				<p><%= item.width %></p>
			</div>
			<div class="property__detail">
				<span class="product__property">Price:</span>
				<p><%= item.price %>$</p>
			</div>
			<div class="property__detail">
				<span class="product__property">Rating:</span>
				<p><%= item.rating %></p>
			</div>
		</div>
		<form method="POST">
			<button name="item" valor="<%item._id%>">Añadir al carro</button>
		</form>
	</body>
</html>
