<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/historial.css" />
    <link rel="stylesheet" href="../../css/index.css" />

    <title>User Historial</title>
</head>

<body>
    <%-include('header')-%>
    <h1>Your purchase historial</h1>
    <%if(items.length===0){%>
    <div class="list-holder">
        <h2>You didn't have make any purchase yet</h2>
        <a class="list-button" href="list">Go to our products list</a>
    </div>
    <%}%>
    <div class="list-holder">
	<% for(let i=0; i < items.length;i++) { %>
    <div class="flex-col list-card-holder">
        <div class="list-card flex-row">
            <div class="list-card__image">
                <a href="detail/<%=items[i]._id%>"><img src="https://lorempixel.com/100/190/nature/6" /></a>
            </div>
            <div class="list-card__stacked">
                <a class="list-header" href="detail/<%=items[i]._id%>">
                    <h3><%= items[i].title%></h3>
                </a>
                <div class="list-card__content">
                    <p><%= items[i].description%></p>
                    <p><strong>
                            Price:
                        </strong> <%= items[i].price%> €</p>
                    <div class="flex-row">
                        <strong>
                            Rating:
                        </strong>
                        <% for (let j =0; j< items[i].rating; j++){%>
                        <img src="https://trello-attachments.s3.amazonaws.com/5f40033fb44fda5f6b6b9f34/5f40f07f072dbb4543522170/664a8929478e14df7ff4eaa37a21bb5d/star.png"
                            alt="star" class="card-item__rating-star">
                        <%};%>
                        <% for (let j =items[i].rating; j< 5; j++){%>
                        <img src="https://image.flaticon.com/icons/svg/786/786331.svg" alt="star"
                            class="card-item__rating-star">
                        <%};%>

                    </div>
                    <p><strong>
                            Quantity:
                        </strong> <%= items[i].quantity%></p>
                </div>
                <form action="/user/list" method="POST">
                    <input name="product" type="hidden" value="<%= items[i]._id %>" />
                    <button class="list-button" type="submit">Buy again</button>
                </form>
            </div>
        </div>
    </div>
    <%}%>
		</div>
</body>

</html>