<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Product list</title>
	<link rel="stylesheet" href="../css/list.css" />
	<link rel="stylesheet" href="../css/index.css" />
</head>

<body>
	<%-include('header')-%>

	<div class="list-holder">
		<% for(let i=0; i < items.length;i++) { %>
		<div class="flex-col list-card-holder">
			<div class="list-card flex-row">
				<div class="list-card-image">
					<a href="/user/detail/<%=items[i]._id%>"><img src="https://lorempixel.com/100/190/nature/6" /></a>
				</div>
				<div class="list-card-stacked">
					<a class="list-header" href="/user/detail/<%=items[i]._id%>">
						<h3><%= items[i].title%></h3>
					</a>
					<div class="list-card-content">
						<p><%= items[i].description%></p>
						<p>Price: <%= items[i].price%> €</p>
						<p><%= items[i].rating%>/5</p>
					</div>
					<form action="/user/list" method="post">
						<input name="product" type="hidden" value="<%= items[i]._id %>" />
						<button class="list-button" type="submit">add to Cart</button>
					</form>
				</div>
			</div>
		</div>
		<%}%>
		</div>
	</body>
</html>