<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product list</title>
    <link rel="stylesheet" href="../css/list.css">
</head>

<body>
    <% for(let i=0; i < items.length;i++) { %>
    <div class="flex-col list-card-holder">
        <div class="list-card flex-row">
            <div class="list-card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="list-card-stacked">
                <h3 class="list-header"><%= items[i].title%></h3>
                <div class="list-card-content">
                    <p><%= items[i].description%></p>
                    <p><%= items[i].price%></p>
                    <p><%= items[i].rating%>/5</p>
                </div>
                <form action="/list" method="post">
                    <input name='product' type="hidden"
                        value="<%= [{ items[i]._id,items[i].title, items[i].price,items[i].rating}]%>">
                    <button class="list-button" type="submit">add to Cart</button>
                </form>

            </div>
        </div>
    </div>


</body>

</html>