<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product details (admin mode)</title>
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/details.css" />
		<link rel="stylesheet" href="../css/footer.css" />
	</head>

	<body>
		<%- include('header')-%>
		<main>
			<form
				action="/products/<%= product && product._id%>"
				method="POST"
				name="productForm"
			>
				<h2><%= product.title %> Details</h2>
				<div>
					<label
						>name:
						<input
							value="<%= product.title %>"
							name="title"
							placeholder="<%= product.title %>"
						/>
					</label>
				</div>
				<div>
					<div>
						<label
							>type:
							<input
								value="<%= product.type %>"
								name="type"
								placeholder="<%= product.type %>"
							/>
						</label>
					</div>

					<label
						>description:
						<input
							value="<%= product.description %>"
							name="description"
							placeholder="<%= product.description %>"
						/>
					</label>
				</div>

				<div>
					<label
						>price: $
						<input
							value="<%= product.price %>"
							name="price"
							placeholder="<%= product.price %>"
						/>
					</label>
				</div>
				<div>
					<label
						>rating:
						<input
							value="<%= product.rating %>"
							name="rating"
							placeholder="<%= product.rating %>"
						/><span>/5</span>
					</label>
				</div>
				<button type="button">go back</button>
				<button type="submit">save</button>
			</form>
		</main>
		<%- include('footer')-%>
	</body>
</html>
