<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    <link rel="stylesheet" href="css/details.css"/>

</head>

<body>
    <%- include('header')-%>
    <main>
        <form action="/products/<%= product && product._id%>" method="POST" name="productForm">
            <h2><%= product.title %> Details</h2>
            <div><span>Type: </span><%= product.type %></div>
            <div>
                <label>name:
                    <input value="<%= product.title %>" name="name" placeholder="<%= product.title %>" />
                </label>
            </div>
            <div><span>description: </span><%= product.description %></div>
            <div><span>price: </span><%= product.price %></div>
            <div><span>rating: </span><%= product.rating %></div>
           
            <button type="button">go back</button>
            <button type="submit">save</button>
        </form>
    </main>
    <%- include('footer')-%>
</body>

</html>