<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search</title>
		<link rel="stylesheet" href="../../css/products.css" />
	</head>
	<body>
		<%- include('header')-%>
		<main class="products__container">
			<% foundProducts.forEach(product => { %>
			<div class="products">
				<div class="products__header">
					<img
						class="products__img"
						src="<%= product.filename %>"
						alt="Product"
					/>
					<div class="products__title">
						<a href="/products/<%= product._id %>">
							<p><%= product.title %></p>
						</a>
						<p><%= product.type %></p>
						<div class="flex-child long-and-truncated-with-child-corrected">
							<p>
								<%= product.description.substring(0, 50)+'...'; %>
							</p>
						</div>
					</div>
				</div>

				<div class="products__details">
					<div class="products__price">
						<p><span><%= product.rating %></span>/5</p>
						<p>$<span><%= product.price %></span></p>
					</div>
					<div class="products__cart">
						<form method="POST">
							<button
								class="addtocart"
								name="addtocart"
								title="Add to cart"
								type="submit"
								value="<%= product._id %>"
							>
								<img
									class="cart__img"
									src="https://image.flaticon.com/icons/svg/2606/2606643.svg"
									alt="Cart"
								/>
							</button>
						</form>
					</div>
				</div>
			</div>
			<% }) %>
		</main>
		<%- include('footer'); -%>
	</body>
</html>
