<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="../../css/home.css" />
	</head>
	<body>
		<%-include('header')-%>
		<main class="featured__container">
			<% for (let i = 0; i< products.length; i++) { %>
			<div class="featured">
				<div class="featured__header">
					<img
						class="featured__img"
						src="<%= products[i].filename %>"
						alt="Product"
					/>
					<div class="featured__title">
						<a href="/products/<%= products[i]._id %>">
							<p><%= products[i].title %></p>
						</a>
						<p><%= products[i].type %></p>
					</div>
				</div>

				<div class="featured__details">
					<div class="featured__price">
						<p><span><%= products[i].rating %></span>/5</p>
						<p>$<span><%= products[i].price %></span></p>
					</div>

					<div class="featured__cart">
						<form method="POST">
							<button
								class="addtocart"
								name="addtocart"
								title="Add to cart"
								type="submit"
								value="<%= products[i]._id %>"
							>
								<img
									class="cart__img"
									src="https://image.flaticon.com/icons/svg/2606/2606643.svg"
									alt="Cart"
								/>
							</button>
						</form>
					</div>
				</div>
			</div>
			<% } %>
		</main>
		<%- include('footer'); -%>
	</body>
</html>
