<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero list</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/list.css">
</head>

<body>
    <h2>Products</h2>

    <ul class=" heroes">
        <% products.forEach(product => { %>
            <div class="featured">
                <div class="featured__title">
                    <a href="/products/<%= product._id %>">
                        <p><%= product.title %></p>
                    </a>
                    <p><%= product.type %></p>
                </div>
                <div class="featured__details">
                    <p>Rating: <span><%= product.rating %></span>/5</p>
                    <p>Price: $<span><%= product.price %></span></p>
                </div>
                <div class="featured__cart">
                    <form method="POST"><button class="delete" title="add to cart" type="submit" name="addtocart" value="<%= product._id %>">Add to cart</button></form>
                </div>
            </div>
        <% }) %>
    </ul>
</body>

</html>