<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/profile.css" />
		<link rel="stylesheet" href="../css/footer.css" />
	</head>
	<body>
		<%- include('../header'); -%>
		<main>
			<div class="profile__container">
				<h1 class="profile__title">PROFILE</h1>
				<div class="profile__text">name: <%= user.user.toUpperCase()%></div>
				<form action="/auth/profile" method="POST">
					<div class="profile__password">
						<div class="password profile__text">password</div>
						<input
							class="profile__input"
							type="text"
							name="password"
							value="<%= user.password %>"
						/>

						<button type="submit" class="button">Save</button>
					</div>
				</form>
				<div class="profile__text">user-type: <%=user.usertype%></div>
				<form action="/auth/signout" method="POST">
					<button class="signout__button button" type="submit">Sign out</button>
				</form>
			</div>
		</main>
		<%- include('../footer'); -%>
	</body>
</html>
