<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/heroes.css" type="text/css" />
		<link rel="stylesheet" href="/css/index.css" type="text/css" />
	</head>
	<body>
		<%-include('header')-%>

		<h2><%-title-%></h2>

		<div>
			<label
				>Hero name:
				<input />
			</label>
			<!--  <%- -%> -->
			<button>
				add
			</button>
		</div>

		<ul class="heroes">
			<% for(let i=0; i< heroes.length ; i++) { %>
			<li>
				<a href="/heroes/<%=heroes[i].id%>">
					<span class="badge"><%-heroes[i].id-%></span><%-heroes[i].name-%>
				</a>
				<button class="delete" title="delete hero">x</button>
			</li>
			<% } %>
		</ul>
	</body>
</html>
